@model HospitalJuanchos.Models.Medicos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Medico</h2>

<div>
    <h4>Medicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Med)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Med)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exequatur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exequatur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Medico", "Edit", new { id = Model.ID_Medico }) |
    @Html.ActionLink("Atras", "Index")
</p>
