@model IEnumerable<HospitalJuanchos.Models.Medicos>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Medicos</h2>

<p>
    <a href="@Url.Action("Create", "Medicos")" class="btn btn-success myBtn">Crear Nuevo Medico</a>
    <a href="@Url.Action("Imprimir", "Medicos")" class="btn btn-danger myBtn">Convertir a PDF</a>
</p>

@using (Html.BeginForm("Index", "Medicos", FormMethod.Post))
{
    <div class="between">
        @Html.TextBox("busqueda", "", new { @class = "form-control mb-2", placeholder = "Buscar..." })
        <br />
        <select name="select" class="form-control col col-lg-2">
            <option value="">Elige una opcion</option>
            <option value="Nombre">Nombre</option>
            <option value="Especialidad">Especialidad</option>
        </select>

        <div class="col-2">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>
}
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Med)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exequatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Med)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exequatur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad)
        </td>
        <td class="btn btn-primary myBtn">
            @Html.ActionLink("Editar", "Edit", new { id = item.ID_Medico })
        </td>
        <td class="btn btn-danger myBtn">
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Medico })
        </td>
        <td class="btn btn-success myBtn">
            @Html.ActionLink("Detalles", "Details", new { id = item.ID_Medico })
        </td>
    </tr>
    }

</table>
