@model HospitalJuanchos.Models.Pacientes

@{
    ViewBag.Title = "Hospital Juanchos - Borrando Pacientes";
}


<h3 class="text-center">Estas seguro que desea Borrar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Pac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Pac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asegurado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asegurado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger myBtn" />
        <a href="@Url.Action("Index", "Pacientes")" class="btn btn-warning myBtn">Atras</a>
    </div>
    }
</div>
