@model HospitalJuanchos.Models.Pacientes

@{
    ViewBag.Title = "Hospital Juanchos - Detalles del Paciente";
}

<h2>Detalles del Paciente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Pac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Pac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asegurado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asegurado)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Pacientes", new { id = Model.ID_Paciente})" class="btn btn-success myBtn">Editar Habitacion</a>

    <a href="@Url.Action("Index", "Pacientes")" class="btn btn-warning myBtn">Atras</a>
</p>
