@model HospitalJuanchos.Models.Habitaciones

@{
    ViewBag.Title = "Hospital Juanchos - Detalles de Habitacion";
}

<h2>Detalles de la Habitacion</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero_Hab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Hab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Hab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Hab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Habitaciones", new { id = Model.ID_Habitacion})" class="btn btn-success myBtn">Editar Habitacion</a>

    <a href="@Url.Action("Index", "Habitaciones")" class="btn btn-warning myBtn">Atras</a>
</p>
 
