@model IEnumerable<HospitalJuanchos.Models.Habitaciones>

@{
    ViewBag.Title = "Hospital Juanchos - Lista de Habitaciones";
}

<h2>Listado de Habitaciones</h2>

<p>
    @Html.ActionLink("Crear nueva Habitacion", "Create")
    @Html.ActionLink("Imprimir", "Imprimir")
</p>
 @using (Html.BeginForm("Index", "Habitaciones", FormMethod.Post))
 {
<div>
    <button class="btn btn-primary" name="select" value="Doble">Doble</button>
    <button class="btn btn-danger" name="select" value="Privada">Privada</button>
    <button class="btn btn-success" name="select" value="Suite">Suite</button>
</div>
 }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Hab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Hab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Hab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Hab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td class="btn btn-primary myBtn">
            @Html.ActionLink("Editar", "Edit", new { id = item.ID_Habitacion })
        </td>
        <td class="btn btn-danger myBtn">
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Habitacion })
        </td>
        <td class="btn btn-success myBtn">
            @Html.ActionLink("Detalles", "Details", new { id = item.ID_Habitacion })
        </td>
    </tr>
    }

</table>
