@model HospitalJuanchos.Models.Altas

@{
    ViewBag.Title = "Hospital Juanchos - Alta Medica";
}

<h2>Crear Alta Medica</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Altas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre_De_Paciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_De_Paciente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_De_Paciente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_De_Ingreso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_De_Ingreso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha_De_Ingreso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_De_Salida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_De_Salida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha_De_Salida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Habitacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Habitacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Habitacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Ingreso, "ID_Ingreso", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_Ingreso", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Ingreso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Atras", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        const { log } = console;

        const generandomonto = (data) => {
            let datex = document.getElementById("Fecha_De_Salida").value;
            let datei = document.getElementById("Fecha_De_Ingreso").value;

            let date1 = new Date(datei);
            let date2 = new Date(datex);
            let resta1 = date2.getTime() - date1.getTime();
            let resta2 = Math.round(resta1 / (1000 * 60 * 60 * 24));

            return resta2 * data;
        }

        $(function () {
            
            $("#ID_Ingreso").change( ()=> {
                let url = "@Url.Action("NombrePac", "Altas")";
                let clavep = $("#ID_Ingreso").val();
                let data = { clavep: clavep };
                $.post(url, data).done( (data) => {
                    $("#Nombre_De_Paciente").val(data);
                }).fail(errorController).always( () =>{
                    throw errorController;
                });
            });
            $("#ID_Ingreso").change( ()=> {
                let url = "@Url.Action("FechaDeIngreso", "Altas")";
                let clavep = $("#ID_Ingreso").val();
                let data = { clavep: clavep };
                $.post(url, data).done((data) => {
                    $("#Fecha_De_Ingreso").val(data);
                }).fail(errorController).always( () => {
                    throw errorController;
                });
             });
            $("#ID_Ingreso").change( ()=> {
                let url = "@Url.Action("NumHabitacion", "Altas")";
                let clavep = $("#ID_Ingreso").val();
                let data = { clavep: clavep };
                $.post(url, data).done((data) => {
                    $("#Habitacion").val(data);
                }).fail(errorController).always( ()=> {
                    throw errorController;
                });
             });

            $("#ID_Ingreso").change(()=> {

                $("#Fecha_De_Salida").val();

            });

            $("#ID_Ingreso").change(()=> {
                let url = "@Url.Action("MontoT", "Altas")";
                let clavep = $("#ID_Ingreso").val();
                let data = { clavep: clavep };
                $.post(url, data).done((data) =>{
                    $("#Monto").val(generandomonto(data));
                }).fail(errorController).always(()=> {
                    throw errorController;
                });
             });


            const  errorController = (err) => {
               log(err.responseText);
            }
        })  
    </script>
}
