@model HospitalJuanchos.Models.Altas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Altas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingresos.Fecha_De_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingresos.Fecha_De_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_De_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_De_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_De_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_De_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_De_Salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_De_Salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ALtas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
