@model IEnumerable<HospitalJuanchos.Models.Altas>

@{
    ViewBag.Title = "Hospital Juanchos - Alta Medica";
}

<p>
    <a href="@Url.Action("Create", "Altas")" class="btn btn-success myBtn">Crear Nueva Alta Medica</a>
    <button onclick="SacandoPDF()" class="btn btn-danger myBtn">Imprimir</button>
    <button type="button" class="btn btn-primary myBtn" data-toggle="modal" data-target="#CalculosGenerales">
        Calculos General
    </button>
</p>
<div class="modal fade" id="CalculosGenerales" tabindex="-1" role="dialog" aria-labelledby="TitulosCalculos" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloCalculos">Resultados de Caculos Generales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Promedio</th>
                            <th scope="col">Conteo</th>
                            <th scope="col">Total</th>
                            <th scope="col">Minimo</th>
                            <th scope="col">Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.media</td>
                            <td>@ViewBag.conteo</td>
                            <td>@ViewBag.total</td>
                            <td>@ViewBag.min</td>
                            <td>@ViewBag.max</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger myBtn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "Altas", FormMethod.Post))
{
    <div class="between">
        @Html.TextBox("busqueda", "", new { @class = "form-control mb-2", placeholder = "Buscar..." })
        <br />
        <select name="select" class="form-control col col-lg-2">
            <option value="">Elige una opcion</option>
            <option value="Paciente">Nombre de Paciente</option>
            <option value="Fecha">Fecha</option>

        </select>

        <div class="col-2">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>
}
<br />
<br />
<div id="IDSacar"
     <h4>
        Listado de Altas
     </h4>
<table class="table" id="IDSacar">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingresos.ID_Ingresos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_De_Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_De_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_De_Salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ingresos.ID_Ingresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_De_Paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_De_Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_De_Salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>


        </tr>
    }

</table>
    </div>
<div>
    <a href="@Url.Action("Procesos", "Home")" class="btn btn-warning myBtn">Atras</a>
</div>

