@model HospitalJuanchos.Models.Citas

@{
    ViewBag.Title = "Hospital Juanchos - Detalles de la Cia";
}

<h2>Detalles de la Cita</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medico.Nombre_Med)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.Nombre_Med)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Nombre_Pac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Nombre_Pac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_De_Cita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_De_Cita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_De_Cita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_De_Cita)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Citas", new { id = Model.ID_Cita})" class="btn btn-success myBtn">Editar Habitacion</a>

    <a href="@Url.Action("Index", "Citas")" class="btn btn-warning myBtn">Atras</a>
</p>
