<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/main.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background:url(https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);background-size:cover;">

    <div class="container body-content">
        <header class="page-header">

            <h2 class="logo">HOSPITAL JUANCHOS</h2>

            <nav class="navbar myNav">
                <a href="\Home/Index" class="epic">INICIO</a>
                <a href="#">ACERCA DE</a>
            </nav>
        </header>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HOSPITAL JUANCHOS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/html2pdf.bundle.min.js"></script>
    <script>function SacandoPDF() {
        var element = document.getElementById('IDSacar');
        var opt = {
            margin: 1,
            filename: 'ArchivoSacado.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        html2pdf(element, opt);
    }</script>
</body>
</html>
